<div id="<%= dom_id admin %>">
  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>Uin:</strong>
    <%= admin.uin %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= admin.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= admin.last_name %>
  </p>

  <p>
    <strong>Admin Role:</strong>
    <%= admin.human_role_name  %>
  </p>

</div>
