<div id="<%= dom_id admin %>">


  <div class="admin-border">
  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>
  <p>
    <strong>First name:</strong>
    <%= admin.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= admin.last_name %>
</p>
  <p>
    <strong>Admin Role:</strong>
    <%= admin.human_role_name %>
  </p>
  </div>