<h2>Howdy <%= @current_admin.first_name %>!</h2>
<div id="admin-details">
  <p>
    <strong>Email:</strong>
    <%= @current_admin.email %>
  </p>

  <p>
    <strong>UIN:</strong>
    <%= @current_admin.uin %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @current_admin.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @current_admin.last_name %>
  </p>

  <p>
    <strong>Admin Role:</strong>
    <%= @current_admin.human_role_name %>
  </p>

  <div style="margin-bottom: 10px;">
    <%= link_to "Edit this Admin", edit_admin_path(@current_admin) %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= link_to "Back to Admin List", admins_path %>
  </div>
  <div style="margin-bottom: 10px;">
    <%= button_to "Delete this Admin", @current_admin, method: :delete %>
  </div>

</div>