<!-- Add this line in the <head> section of app/views/layouts/application.html.erb -->
<div class="mt-4 ms-4">
  <%= link_to 'â† Back', welcome_path, class: 'framed-button' %>
  <%= link_to 'Export Schedule', export_calendar_index_path(day: @selected_day), class: 'framed-button' %>
  <%= link_to "Download Unassigned RJ List", download_unassigned_rjs_calendar_index_path, class: 'framed-button' %>
</div>
<div class="mt-4 ms-4">
  <%= form_with(url: calendar_path, method: :get, local: true) do %>
    <label for="day">Select a day:</label>
    <select name="day" id="day" onchange="this.form.submit()">
      <% %w[Monday Tuesday Wednesday Thursday Friday Saturday Sunday].each do |day| %>
        <option value="<%= day %>" <%= day == @selected_day ? 'selected' : '' %>><%= day %></option>
      <% end %>
    </select>
  <% end %>


  <h2><%= @selected_day %></h2>
</div>

<table>
  <thead>
    <tr>
      <th>Time Slot</th>
      <th>Details</th> 
    </tr>
  </thead>
  <tbody>
    <% @time_slots.each_with_index do |slot, index| %>
      <% entry = @daily_schedule.find { |e| e.hour == index } %>
    
      <% if entry.present? && entry.show_name.present? %>
        <tr>
          <td><%= slot %></td> 
          <td>
            <% if entry.show_name.present? && entry.last_name.present? %>
              <strong>Show Name:</strong> <%= entry.show_name %><br>
            <% end %>
            <% if entry.radio_jockey.dj_name.present? %>
              <strong>DJ Name:</strong> <%= entry.radio_jockey.dj_name %><br>
            <% else %>
              <strong>DJ Name:</strong> <%= entry.radio_jockey.first_name %> <%= entry.radio_jockey.last_name %><br>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
