<div class="px-40 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="@container">
      <div class="flex flex-col gap-6 px-4 py-10 @[480px]:gap-8 @[864px]:flex-row">
        <div
          class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl @[480px]:h-auto @[480px]:min-w-[400px] @[864px]:w-full"
          style='background-image: url("https://cdn.usegalileo.ai/sdxl10/e03a8f4f-289a-4a48-b9e0-6d541ef47390.png");'
        ></div>
        <div class="flex flex-col gap-6 @[480px]:min-w-[400px] @[480px]:gap-8 @[864px]:justify-center">
          <div class="flex flex-col gap-2 text-left">
            <h1
              class="text-[#111418] text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
            >
                Hi there!
            </h1>
            <h4 
            >
              Please upload your RJ Preferences Spreadsheet below.
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col p-4">
      <div class="flex flex-col items-center gap-6 rounded-xl border-2 border-dashed border-[#dce0e5] px-6 py-14">

        <!-- Check if CSV files are present -->
        <% if @csv_files.empty? %>
          <p class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] max-w-[480px] text-center">
            No files are present
          </p>
        <% else %>
          <%= form_with url: handle_files_path, method: :post do %>
            <!-- Displaying CSV files -->
            <div class="w-full max-w-lg max-h-60 overflow-y-auto border border-gray-300 rounded-lg p-4">
              <ul>
                <% @csv_files.each do |file| %>
                  <li class="text-sm text-[#111418] mb-2 flex items-center">
                    <input type="checkbox" class="mr-2" value="<%= File.basename(file) %>" name="selected_files[]">
                    <%= File.basename(file) %>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class="field flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#f0f2f4] text-[#111418] text-sm font-bold leading-normal tracking-[0.015em]">
              <%= submit_tag 'Generate Schedule', name: 'action_type', value: 'generate_schedule', class: 'btn btn-primary' %>
            </div>

            <div class="field flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#f0f2f4] text-[#111418] text-sm font-bold leading-normal tracking-[0.015em]">
              <%= submit_tag 'Delete Selected Files', name: 'action_type', value: 'delete_files', class: 'btn btn-danger' %>
            </div>
            <!-- Can be deleted later -->
            <button id="display-selected" class="mt-4 flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#f0f2f4] text-[#111418] text-sm font-bold leading-normal tracking-[0.015em]" type="button">
              <span class="truncate">Display Selected</span>
            </button>

            <!-- Can be deleted later -->
            <div id="selected-files" class="mt-4 text-[#111418] text-sm font-bold"></div>

            <!-- Flash message for delete -->
            <div id="delete-warning" style="color: red; margin-top: 10px;"></div>

          <% end %>
          <script>
          document.getElementById('delete').addEventListener('click', function(event){
            const checkboxes = document.querySelectorAll('input[name="selected_files[]"]:checked');

            const selectedFiles = Array.from(checkboxes).map(checkbox => checkbox.value);

            if(selectedFiles.length === 0){
              event.preventDefault();
              document.getElementById('delete-warning').innerHTML = 'No files selected for deletion!';
            } else {
              document.getElementById('delete-warning').innerHTML = '';
            }
          }); 
          </script>
          <script>
            document.getElementById('display-selected').addEventListener('click', function() {

              const checkboxes = document.querySelectorAll('input[name="selected_files[]"]:checked');

              const selectedFiles = Array.from(checkboxes).map(checkbox => checkbox.value);

              /* Can be deleted later */
              const selectedFilesDiv = document.getElementById('selected-files');
              selectedFilesDiv.innerHTML = selectedFiles.length > 0 ? 'Selected Files: ' + selectedFiles.join(', ') : 'No files selected.';
            });  
          </script>
        <% end %>
                <p class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] max-w-[480px] text-center">Upload your spreadsheet</p>

                <%= form_with(url: uploads_path, local: true, multipart: true) do |form| %>
                  <div class="field flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#f0f2f4] text-[#111418] text-sm font-bold leading-normal tracking-[0.015em]">
                    <%= form.file_field :csv_file, name: 'upload[csv_file]', accept: '.xlsx' %>
                  </div>
                  <div class="actions flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#f0f2f4] text-[#111418] text-sm font-bold leading-normal tracking-[0.015em]">
                    <%= form.submit "Upload" %>
                  </div>
                <% end %>
                <%= form_for :download, method: :get, url: download_path, id: 'download-form' do %>
                  <%= submit_tag 'Download', style: 'display:none;' %>
                <% end %>
                <button
                  id="download-selected" class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#f0f2f4] text-[#111418] text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Download</span>
                </button>

                <script>
                  document.getElementById('download-selected').addEventListener('click', function() {
                    const checkboxes = document.querySelectorAll('input[name="selected_files[]"]:checked');
                    const selectedFiles = Array.from(checkboxes).map(checkbox => checkbox.value);
                  
                    const downloadForm = document.getElementById('download-form');
                  
                    // Clear existing form data to make sure download does not error out due to duplicate filenames
                    // Otherwise, you may end up trying to download the same file twice
                    while (downloadForm.hasChildNodes()) {
                      downloadForm.removeChild(downloadForm.firstChild);
                    }
                    // Reset does not work here since the form is variable length and thus no default
                  
                    // Add selected files to the form
                    for (let i = 0; i < selectedFiles.length; i++) {
                      let curFileInput = document.createElement('input');
                      curFileInput.type = 'hidden';
                      curFileInput.name = 'selected_files[]';
                      curFileInput.value = selectedFiles[i];
                      downloadForm.appendChild(curFileInput); // Append list of selected files
                    };
                  
                    downloadForm.submit(); // Submit selected files to download
                  });          
                </script>

                <% if flash[:alert] %>
                  <p style="color: red;"><%= flash[:alert] %></p>
                <% end %>
                <% if flash[:notice] %>
                  <p style="color: green;"><%= flash[:notice] %></p>
                <% end %>

                </button>
              </div>
            </div>

      </div>
    </div>
  </div>
</div>