<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "KANM Show Scheduling" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Newsreader%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <!-- If certain CSS might not be getting inherited right, try checking it once by disabling tailwind-->
  </head>

  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Newsreader, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">

        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f4] px-10 py-3 w-full">
          <div class="flex items-center gap-4 text-[#111418] flex-grow" style="margin-top: -1px;">
            <div class="size-4" style="width: 60px; margin-top: -10px;"> <!-- Set a fixed width here -->
              <img src="<%= asset_path('KANMLogo.webp') %>" alt="KANM Logo" class="w-full h-auto" /> <!-- w-full for full width within container -->
            </div>
            <h2 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em]">Radio Show Scheduling</h2>
          </div>

          <div class="flex flex-1 justify-end gap-8">
            <div class="flex gap-2">
              <div class="dropdown">
                <i class="fa fa-user-o" aria-hidden="true">
                  <div class="dropdown-content">
                    <%= button_to "Logout", logout_path, class: "admin-button"%>
                    <% if @current_logged_in_admin.super_user? %>
                      <%= link_to "Manage Admins", admins_path, class: "admin-button" %>
                    <% end %>
                  </div>
                </i>
              </div>
            </div>
          </div>
        </header>

        <main>
          <%= yield %>
        </main>

      </div>
    </div>
  </body>
</html>
